<html>
    <head>ssWhatsApp</head>
    <body>
        <div id="qr-code"></div>


        <button type="button" onclick="buscarQrCode();" >Buscar qr</button>

        <script>
         /*   const axios = require('axios');

            function buscarQrCode() {
                axios.get('http://localhost:3400/getQRCode')
                    .then(function (response) {
                        alert('deu bão');
                        console.log(response);
                    })
                    .catch(function (error) {
                        alert('deu merda');
                        console.log(error);
                    })
                    .finally(function () {
                        alert('deu xaaaau');
                    });
            }*/



        </script>
    </body>
</html>